.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 500px;
  background-color: var(--bgSoft);
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.8rem;
  border-radius: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.8rem;
}
.form input {
  padding: 1.2rem;
  background-color: var(--bg);
  color: var(--textColor);
  border-radius: 0.5rem;
  border: 0.01rem solid #e5e5e5;
}

.form input:focus {
  border-color: blue;
}

.form button {
  padding: 1.2rem;
  cursor: pointer;
  background-color: var(--btn);
  color: var(--textColor);
  font-weight: bold;
  border-radius: 0.5rem;
  outline: 0.1rem solid var(--btn);
}

.form button:hover {
  outline-style: dashed;
  background-color: transparent;
  color: var(--btn);
}
