.container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.avatar {
  border-radius: 50%;
  object-fit: cover;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.title {
  color: gray;
  font-weight: bold;
}
.username {
  font-weight: 500;
}
